<form action="/run_testcases" method="POST">
<label > Please click on submit button to run cases</label>
<input type="submit" value="Submit">
</form>

<html>
<h1 style="
    display: flex;
    justify-content: center;
    align-items: center;
">Test cases for facebook/h1>
<style>
    table , th,td {
      border: 1px solid black;
      border-collapse:collapse;
      }
</style>
    </h1>
</html>

<table style="width:100%  ">
   <tr align="left">
   <th align="center">  Test case no /th>
       <th align="center">Test case description</th>
       <th align="center"> Test case result</th>
   </tr>
    <tr>
<td align="left"> 1</td>
<td align="center"> urlvalidationresult</td>
<td align="right"> {{Validationresult}}</td>


   </tr>
</table>

